<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Revelation 19:11-16 NIV</h2>
    <svg class="icon icon--white collaspsible__chevron">
      <use xlink:href="images/sprite.svg#chevron"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    I saw heaven standing open and there before me was a white horse, whose
    rider is called Faithful and True. With justice he judges and wages war. His
    eyes are like blazing fire, and on his head are many crowns. He has a name
    written on him that no one knows but he himself. He is dressed in a robe
    dipped in blood, and his name is the Word of God. The armies of heaven were
    following him, riding on white horses and dressed in fine linen, white and
    clean. Coming out of his mouth is a sharp sword with which to strike down
    the nations. He will rule them with an iron scepter. He treads the winepress
    of the fury of the wrath of God Almighty. On his robe and on his thigh he
    has this name written: KING OF KINGS AND LORD OF LORDS.
  </div>
</div>
